strict-peer-dependencies=false
auto-install-peers=false
save-exact=true
# 腾讯云 npm 镜像
registry=https://mirrors.tencent.com/npm/

# 淘宝 npm 镜像
# registry=https://registry.npm.taobao.org

# 七牛 npm 镜像
# registry=http://reg.qiniu.com

# 阿里 npm 镜像 
# registry=http://registry.npm.alibaba-inc.com

# npm 官方镜像
# registry=https://registry.npmjs.org

# 本地 npm 私有镜像
# registry=http://localhost:4873

# 阿里云 npm 镜像
# registry=https://npm.aliyun.com
